body {
    background-color: gray;
}

h1, h2 {
    text-align: center;
    color: wheat;
}

img {
    display:block;
    margin: 0 auto;
}

/* not ideal but works for now */
body {
    max-width: 600px;
    margin: 0 auto;
}