* {
  font-family: "Courier New", monospace;
}

.box {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 79%);
  box-sizing: border-box;
}

h1 {
  border-bottom: 8px ridge hsl(0, 0%, 50%);
}

.container {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  margin: 20px auto;
  border: 10px ridge hsl(0, 0%, 50%);
  border-radius: 5px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: hsl(45, 35%, 93%);
  color: hsl(0, 0%, 10%);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  padding: 12px;
  margin-bottom: 20px;
  border: 4px dashed hsl(0, 0%, 0%);
  background-color: hsl(0, 0%, 87%);
}
