#container {
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
  width: 105px;
  height: 200px;
  background-color: aquamarine;
  gap: 2px;
}

#input {
  box-sizing: border-box;
  background-color: rgb(214, 214, 214);
  width: 105px;
  height: 20px;
  text-align: end;
  padding-right: 4px;
}

.row {
  display: flex;
  box-sizing: border-box;
  background-color: burlywood;
  height: 20px;
  gap: 8px;
}

.row div {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: blueviolet;
  width: 20px;

}
